
.footerDiv{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #90c43e;
    color:black;
    text-align: center;
    height:50px;
    font-size:20px;
}

  /* Footer */
  /* .footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(244, 248, 250);
    margin-top: 20px;
    width: 100%;
    margin: auto;
  } */
