body{
    padding-right: 15%;
    padding-left: 15%;
}
.container2{
    font-family: "Montserrat", sans-serif;
    font-size: 3vmin;
    text-align: center;
    color: black;
    border-radius: 2%;
    padding: 2rem;
    margin: 2rem;
    margin-top:5px;
    position:absolute;
}

.log {
   height:54px;
   margin-top: 100px;
}

.log_out {
 background-color:#99ff25;
 float:right;
 color:black;
 font-size: 20px;
 padding: 16px 20px;
 border:1px solid black;
 cursor: pointer;
 opacity: 0.9;
}

.log_out:hover {
 opacity: 1;
}

img{
    background-size:cover;
    opacity: 0.5;
    overflow:hidden;

}
.contain{
    position:relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

