<div class="contain">
        <img  src="../../assets/homeImages/wheat.jpg" alt="farmer"  style="height:600px;width:1500px;">

        <div class="container2">
            <h2><b style="font-family: Lucida Handwriting;">Welcome Farmer</b></h2>
            <br>
            <h3><b style="font-family: Comic Sans MS;">Select your choice</b></h3><br/>
            <p>
                <a style="color:#26269c;font-size:25px; font-family:Constantia;" [routerLink]="'/crop'">Place Sell request</a>
            </p><br>
            <p>
                <a style="color:#26269c;font-size:25px; font-family:Constantia;" [routerLink]="'/app-viewsoldhistory'">View Sold Crop History</a>
            </p><br>
            <p>
                <a style="color:#26269c;font-size:25px; font-family:Constantia;" [routerLink]="'/app-viewmarketplace'">View Marketplace</a>
            </p><br>
        </div>
    </div>