<!-- <app-route></app-route> -->
<div class="contain">
    <!-- <img  src="../../assets/homeImages/" alt="farmer"  style="height:600px;width:1500px;"> -->
    <div class="child content">

        
        <div class="container-fluid"style="background-color: #f7f6f6;">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 text-center py-5">
                        <h1 style="color: #90c43e;">Our Vision</h1>
                        <p>Agri Marketplace’s vision is to become the largest agricultural fair-trade platform,
                            <br>
                            connecting farmers to industrial all around the world.</p>
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 text-center py-5">
                        <h1 style="color: #90c43e;">Our Mission</h1>
                        <p>Agri Marketplace’s mission is to become THE global reference for DIGITAL agricultural food crop transactions
                            <br>
                            through a complete PLATFORM solution.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 text-center py-5">
                        <h1 style="color: #90c43e;">Our Focus & Experience</h1>
                        <!-- <p>Agri Marketplace is a group of experts who leverage their knowledge & experience in Farming, Industry Procurement,
                            <br> Digital Business, and Disruptive Innovation at all times.
                             We aim at redistributing value through the agriculture supply chain,<br> to do so requires us to be agile, reliable and transparent. We promote these values throughout all of our actions, operations and services.
        
                        </p> -->
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 text-center py-5">
                        <h1 style="color: #90c43e;">Our Mission</h1>
                        <p>Agri Marketplace’s mission is to become THE global reference for DIGITAL agricultural food crop transactions
                            <br>
                            through a complete PLATFORM solution.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="container-fluid"style="background-color: #f7f6f6;">
            <div class="container">
                <div class="row text-center py-5">
                    <h1>Know-Your-Customer</h1>
                    <p>Know-Your-Customer (KYC) is the process we use to verify the identity and origin of finance of users in our digital market place. <br>
                        Thus, preventing any money laundering and the financing of terrorist activities over our platform, whilst creating a network with only trustworthy agricultural buyers and sellers.</p>
                </div>
                
                <div class="row" >
                    <div class="col-md-6 text-center py-5">
                        <h1 style="color: #90c43e;">KYC for sellers</h1>
                        <p>Seller accounts are verified by Agri MP and our partners Lemonway & BNP Paribas.
                            <br> They are responsible for reviewing the company's registration document, proof of I.D. and user residence, and proof of company IBAN issues by that seller's bank.</p>
                    </div>
                    <div class="col-md-6 text-center py-5">
                        <h1 style="color: #90c43e;">KYC for buyers</h1>
                        <p>Buyer accounts are verified by Agri MP and our partners Lemonway & BNP Paribas.<br>
                             The buyer KYC process is equal to the seller’s, but is not mandatory unless the buyer want to retract funds from his Agri MP wallet.</p>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
        <div class="container-fluid">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 text-center py-5">
                        <h1 style="color: #90c43e;">Certified B Corporation</h1>
                        <p>The B Corporations are a new kind of business that balances purpose and profit.
                            <br> They are legally required to consider the impact of their decisions on their workers, customers, suppliers, community, and the environment.
                            <br> This is a community of leaders, driving a global movement of people using business as a force for good.
        
                        </p>
                        <br>
                        <br>
                    </div>
                    
                </div>
            </div>
        </div>
