
<div class="col">
    <div  class="form-row">
        <div class="container "> 
        <div>
             
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3 class="heading">Crops</h3>
        
        <table class="table1">
            <thead class="thead-dark">
            <tr>
                <th>Crop Id</th>
                <th>Crop Name</th>
                <th>Quantity</th>
                <th>Base Price</th>
                <th>Sold Price</th>
            </tr>
            </thead>
            <thead class ="thead-dark">
            <!-- <tr *ngFor="let n of notifications">   -->
                <tr>
                <td>86</td>
                <td>rice</td>
                <td>100</td>
                <td>10000</td>
                <td>15000</td>
            </tr>
            <tr>
                <td>87</td>
                <td>cotten</td>
                <td>200</td>
                <td>14000</td>
                <td>17000</td>
            </tr>
        </thead>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>
</div>
