<style>
	body{
		background-image: url('../../assets/homeImages/pear.jpg');
	}
</style>
<br>
<br>

<body>
	
<div id="form">
	<form #myform="ngForm" (ngSubmit)="myform.form.valid && loginuser()">
		<label for="uname"><b>Email id</b></label>
		<input type="email" id="emailid" name="email" class="inputText" required email [(ngModel)]="login.email"
			#email="ngModel" />
		<label for="uname"><b>Password</b></label>
		<input id="password" type="password" name="pass" class="inputText" required [(ngModel)]="login.password"
			#pass="ngModel" />
			
		<input type="submit" value="Login" id="submit">
	</form>
	<div id="signup"> <a [routerLink]="'/farmerregistration'" >Are you new here? </a> </div>

	<div  *ngIf = "myform.form.invalid">
	<div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
		You need to enter an email
	</div>
	<div class="error" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
		Please enter password to login
	</div>
</div>
</div>
<br>
<br>

</body>
