<style>
    div{
        background-image: url(../../assets/homeImages/background3.jpg);
    }
</style>
<body>
<div class = "bg" style="text-align: center;">
    <form>
        <div class="shift_middle">  
            <h1>Particulars of Insurance</h1 > 
        
          <label for="soilph">Policy  No</label>
          <input name="soilph" type="text" placeholder="Enter PH Value" ><br><br>
        
          
    
          <label for="soilph">Insurance Company  </label>
          <input name="soilph" type="text" placeholder="Enter PH Value"  ><br><br>
        
        
    
    
          <label for="soilph">Name of Insuree </label>
          <input name="soilph" type="text" placeholder="Enter PH Value"  ><br><br>
        
          
    
    
          <label for="soilph">Sum Insured </label>
          <input name="soilph" type="text" placeholder="Enter PH Value"  ><br><br>
        
           <h2>Details of cause for loss</h2>
        
          <label for="soilph">Date of loss  </label>
          <input name="soilph" type="text" placeholder="Enter PH Value" ><br><br>
        
          <label for="soilph">Cause of loss  </label>
          <input name="soilph" type="text" placeholder="Enter PH Value" ><br><br>
        
          <button class="placebutton"  type="button">Submit</button>
          </div>
          
          </form>
         <br>
         <br>
         <br>
         <br>
    
         <button><a [routerLink]="['/Insurance']"><b style="color: black;">Back</b></a></button>
        
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</body>