<!-- <div class="container-fluid loginback" style="background-image: url(assets/images/login/background/loginback.jpg)" >
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <h3 class="text-center">Please enter you email to reset password</h3>
                <form [formGroup]="fpass" method="post">
                    
                    
    
  
                    <div class="container">
                      <label for="email"><b>Email</b></label>
                      <input type="text" formControlname="mailid" placeholder="Enter EmailId" name="email" required>
                        <div *ngIf="!fpass.get('mailid')?.valid && (fpass.get('mailid')?.dirty || fpass.get('mailid')?.touched)" class="error">
                            <div *ngIf="fpass.get('mailid')?.errors?.required">
                            <small class="text-danger">Email is Required</small>
                
                            </div>
                        </div>   
                  
                     

                      <br><br>
                      <a class="btn btn-success text-center verify">Send verification link</a> -->
                  
                      <!-- <button type="submit">Send verification link</button> -->
                      
                    <!-- </div>
                  
                    
                  </form>

            </div>
            <div class="col-md-3">

            </div>

        </div>
    </div>

</div> -->

<!-- //////////////////////////////////////////////////////////////////////// -->

<!-- <div class="container-fluid loginback" style="background-image: url(assets/images/login/background/loginback.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6" >
                <h3 class="card-header">Forgot Password</h3>
                    <div class="card-body">
                        <form [formGroup]="fpass" method="post">
                    
                    
    
  
                            <div class="container">
                              <label for="email"><b>Email</b></label>
                              <input type="text" formControlname="mailid" placeholder="Enter EmailId" name="email" required>
                                <div *ngIf="!fpass.get('mailid')?.valid && (fpass.get('mailid')?.dirty || fpass.get('mailid')?.touched)" class="error">
                                    <div *ngIf="fpass.get('mailid')?.errors?.required">
                                    <small class="text-danger">Email is Required</small>
                        
                                    </div>
                                </div>   
                          
                             
        
                              <br><br>
                              <a class="btn btn-success text-center verify">Send verification link</a>
                              <br><br>
                              <a routerLink='/login' class="btn btn-danger text-center verify">Cancel</a>
                          
                               <button type="submit">Send verification link</button>
                              
                            </div>
                          
                            
                          </form>
                        
                    </div>

            </div>
            <div class="col-md-3">

            </div>
        

        </div>

    </div>

</div> -->

<!-- ////////////////////////////////////////////////////////////////////////////////////// -->



<div class="container-fluid" style="height: 450px;">
    <div class="container" >
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <form [formGroup]="forgotpasswordform" (ngSubmit)="SendPassword()"style="background-image: url(assets/images/login/background/loginback.jpg)">
      
            <div class="form-group">
              <label>E-mail Id</label>
              <input class="form-control" type="text" formControlName="email">
            
              <div *ngIf="!forgotpasswordform.get('email')?.valid && (forgotpasswordform.get('email')?.dirty || forgotpasswordform.get('email')?.touched)"
                    class = "alert alert-danger">
          
                <div *ngIf="!forgotpasswordform.get('email')?.errors?.required">
                <small class="text-danger">Email is required </small>
                </div>
          
                <div *ngIf="!forgotpasswordform.get('email')?.errors?.email">
                <small class="text-danger">Invalid email address</small>
                </div>
              </div>
            </div>
              <button class="btn btn-success submit" type="submit">RequestPassword</button>
          
          </form>
  
        </div>
        <div class="col-md-3">
  
        </div>

      </div>
      
      

    </div>

  </div>
    
    
    